<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- VUEJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- LUXON -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.3.0/luxon.min.js" integrity="sha512-KKbQg5o92MwtJKR9sfm/HkREzfyzNMiKPIQ7i7SZOxwEdiNCm4Svayn2DBq7MKEdrqPJUOSIpy1v6PpFlCQ0YA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="style.css">
    <title>Boolzapp</title>
</head>
<body>
  <div id="app">
    <div class="container d-flex">
      <!-- ASIDE -->
      <div class="aside">
        <div class="top-bar d-flex my-cont-bet">
          <div class="user d-flex al-item-cent">
            <img src="img/avatar_io.jpg" alt="User Avatar">
            <span class="name-user">Sofia</span>
          </div>
          <div class="icon-user d-flex al-item-cent">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-message"></i>
            <i class="fas fa-ellipsis-vertical"></i>
          </div>
        </div>

        <div class="utility-search">
          <!-- NOTIFICATIONS -->
          <div class="banner-notify d-flex al-item-cent">
            <i class="fas fa-bell-slash"></i>
            <div class="notify-info">
              <div>Ricevi notifiche di nuovi messaggi</div>
              <div>Attiva notifiche desktop</div>
            </div>
          </div>

          <!-- SEARCH BAR -->
          <div class="search-bar d-flex al-item-cent">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Cerca o Inizia una nuova chat" v-model="searchText">
          </div>
        </div>

        <div class="list-contact">
          <ul>
            <li class="d-flex al-item-cent" v-for="(contact, index) in filteredContacts" :key="index" @click="selectedContact = contact">
              <div class="user">
                <img :src="contact.avatar" alt="Contact Avatar">
              </div>
              <div class="info-user">
                <div>{{contact.name}}</div>
                <div class="last-message" v-if="contact.messages.length > 0">{{contact.messages[contact.messages.length - 1].message}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- MAIN -->
      <div class="main" v-if="selectedContact">
        <div class="top-bar d-flex my-cont-bet">
          <div class="user active d-flex al-item-cent">
            <img :src="selectedContact.avatar" alt="User Avatar">
            <div class="info-user">
              <div class="name-user">{{selectedContact.name}}</div>
              <div class="inf-access">Ultimo accesso oggi alle 12:00</div>
            </div>
          </div>
          <div class="icon-user d-flex al-item-cent">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-vertical"></i>
          </div>
        </div>

        <div class="main-chat d-flex flex-dir-col">
          <div v-for="(message, index) in selectedContact.messages" :key="index" :class="{'mess-sent': message.status === 'sent', 'mess-received': message.status === 'received'}" class="message">
            <p>{{ message.message }} <span class="message-time">{{ getFormattedTime(message.date) }}</span></p>
          </div>
        </div>

        <div class="foot-chat d-flex my-cont-aro al-item-cent">
          <i class="far fa-face-smile"></i>
          <input type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter.prevent="sendMessage">
          <i class="fas fa-microphone"></i>
        </div>
      </div>
    </div>
  </div>
  
  <script src="script.js"></script>
</body>
</html>