* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
}

/* UTILITIES */
.d-flex { display: flex; }
.my-cont-aro { justify-content: space-around; }
.my-cont-bet { justify-content: space-between; }
.al-item-cent { align-items: center; }
.my-cont-start { justify-content: flex-start; }
.my-cont-end { justify-content: flex-end; }
.flex-dir-col { flex-direction: column; }

/*STRUTTURA */
#app {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: linear-gradient(0deg, #D9DBD4 85%, #009688 85%);
}

.container {
width: 80%;
height: 95%;
background-color: #D9DBD4;
}

.aside {
width: 30%;
background-color: white;
margin-right: 1px;
}

.main {
flex-grow: 1;
}

.top-bar {
height: 68px;
background-color: #EAEAEA;
}

.main-chat {
height: calc(100% - 128px);
background-image: url(img/mine.jpg);
overflow-y: scroll;
}

.foot-chat {
height: 60px;
background-color: #F3EEEA;
}

.aside img, .main img {
border-radius: 50%;
width: 40px;
margin-left: 15px;
}

.icon-user i {
color: #B1B1B1;
margin-right: 20px;
font-size: 1rem;
}

.top-bar .user span {
margin-left: 8px;
}

/* ASIDE */
.banner-notify {
background-color: #8EDAFC;
min-height: 80px;
}

.banner-notify i {
font-size: 1.2rem;
margin-left: 10px;
padding: 13px;
background-color: white;
border-radius: 50%;
color: #8EDAFC;
}

.banner-notify .notify-info div {
font-size: .7rem;
margin: 3px 10px;
}

.banner-notify .notify-info div:first-child {
font-weight: 600;
}

.banner-notify .notify-info div:last-child {
font-weight: 500;
color: gray;
text-decoration: underline;
cursor: pointer;
}

.utility-search .search-bar {
background-color: #F9F9F9;
height: 53px;
margin-right: 10px;
}

.utility-search .search-bar input {
padding: 11px 15px;
width: 100%;
border: none;
margin-right: 5px;
color: gray;
font-weight: 600;
font-size: .7rem;
}

.utility-search .search-bar i {
padding: 10px 15px;
margin-left: 5px;
margin-right: .5px;
background-color: white;
color: #B1B1B1;
}

.list-contact {
height: calc(100% - 201px);
overflow-y: scroll;
}

.list-contact li:hover {
background-color: lightgrey;
transition: all .5s;
}

.list-contact li {
list-style: none;
display: flex;
border-bottom: 1px solid lightgray;
cursor: pointer;
padding: 15px 5px;
}

.aside ul .info-user {
margin-left: 10px;
font-weight: 700;
font-size: .8rem;
}

.aside ul .info-user .last-message {
font-weight: 500;
font-size: .7rem;
color: grey;
}

/* MAIN */
.main .info-user {
margin-left: 10px;
font-weight: 600;
font-size: .8rem;
}

.main-chat {
padding: 20px 30px;
}

.inf-access {
color: #B1B1B1;
}

.main-chat p {
padding: 10px;
min-width: 10%;
max-width: 40%;
word-wrap: break-word;
font-size: .8rem;
font-weight: 500;
margin-bottom: 10px;
}

.mess-sent p {
background-color: #D5F9BA;
border-radius: 10px 0 10px 10px;
margin-left: 500px;
position: relative;
}


.mess-received p {
background-color: white;
border-radius: 10px 10px 10px 0;
position: relative;
}
.message-time{
font-size: 9px;
position: absolute;
right: 5px;
bottom: 1px;
color: #888;
}

.foot-chat i {
color: gray;
font-size: 1.3rem;
}

.foot-chat i:first-child {
margin-left: 15px;
}

.foot-chat i:last-child {
margin-right: 15px;
}

.foot-chat input {
padding: 10px 15px;
width: 75%;
border: none;
border-radius: 6px;
margin: 15px 10px;
color: black;
font-weight: 500;
font-size: .8rem;
}
::-webkit-scrollbar {
width: 0.2em;
background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #555;
}